@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #282c34;
    color: #fff;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.titulo, .form, .containerTareas {
    margin-top: 20px;
}

.form {
    width: 40rem;
    display: flex;
    justify-content: center;
}

.input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}

.btn {
    padding: 10px;
    background-color: #0e79e4;
    color: #fff;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}

.cancelar {
    margin-left: 5px;
    background-color: red;
    padding: 10px;
    color: #fff;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}

.btn:hover {
    background-color: #1e90ff;
}

.containerTareas {
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerTareas h1 {
    margin-bottom: 20px;
}

.listTareas {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    margin-bottom: 10px;
}

.listTareas p {
    margin: auto 0;
    color: #000;
}

.actions {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.actions button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}

.status {
    background-color: gray;
}

.edit {
    background-color: #0e79e4;
}

.delete {
    background-color: red;
}

.complete {
    background-color: green;
}

.autor {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
    background-color: skyblue;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 5px;
}